<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">My User Profile</h4>
        <h6 class="card-subtitle">Settings</h6>

        <form class="form p-t-20" [formGroup]="profileForm" (ngSubmit)="actualizarPerfil()" #form="ngForm">

          <div class="form-group">
            <label for="exampleInputuname">FirstName</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>

              <input type="text" class="form-control" id="exampleInputuname" placeholder="FirstName" formControlName="firstName">
            </div>
            <mat-error *ngIf="form.submitted && profileForm.controls['firstName'].invalid">This field is required</mat-error>
          </div>

          <div class="form-group">
            <label for="exampleInputuname">LastName</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>

              <input type="text" class="form-control" placeholder="LastName" formControlName="lastName">
            </div>
            <mat-error *ngIf="form.submitted && profileForm.controls['lastName'].invalid">This field is required</mat-error>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>

              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" formControlName="email" >
            </div>
            <mat-error *ngIf="form.submitted && profileForm.controls['email'].value === ''">This field is required</mat-error>
            <mat-error *ngIf="form.submitted && profileForm.controls['email'].value !== '' && profileForm.controls['email'].invalid">Invalid Email Format</mat-error>

          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Password</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-password"></i></div>

              <input type="password" class="form-control"  placeholder="Enter Password" formControlName="password">
            </div>
            <mat-error *ngIf="form.submitted && profileForm.controls['password'].invalid">This field is required</mat-error>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Created At</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-date"></i></div>

              <input type="text" class="form-control"  placeholder="createdDate" formControlName="createdDate" readonly >
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Role</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti"></i></div>
              <select class="form-control" formControlName="role" id="">
                <option [value]="'USER'">USER</option>
                <option [value]="'ADMIN'">ADMIN</option>
              </select>
            </div>
          </div>

          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
            <i class="fa fa-save"></i>
            Guardar Cambios
          </button>

        </form>
      </div>
    </div>
  </div>

</div>
